@using CoffeeNew.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<li class="dropdown notification-list">
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="false"
           aria-expanded="false">
            <span class="account-user-avatar">
                <img src="assets/images/users/avatar-1.jpg" alt="user-image" class="rounded-circle">
            </span>
            <span>
                <span class="account-user-name"> @User.Identity?.Name</span>
            </span>
        </a>
        <div class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">

            <!-- item-->
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <i class="mdi mdi-account-circle me-1"></i>
                <span>My Account</span>
            </a>

            <!-- item-->
            <a href="javascript:void(0);" class="dropdown-item notify-item">
                <i class="mdi mdi-lifebuoy me-1"></i>
                <span>Support</span>
            </a>

            <!-- item-->

            <form class="dropdown-item notify-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                <button type="submit" class="dropdown-item notify-item">Logout</button>
            </form>
        </div>

    }
    else
    {
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>

    }

</li>

